TestClient/Service References/ServiceReference1/PharmaOnDuty.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAvailableAthensAreas">
        <s:complexType />
      </s:element>
      <s:element name="GetAvailableAthensAreasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailableAthensAreasResult" type="tns:ArrayOfAthensArea" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAthensArea">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AthensArea" nillable="true" type="tns:AthensArea" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AthensArea">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Json_GetAvailableAthensAreas">
        <s:complexType />
      </s:element>
      <s:element name="Json_GetAvailableAthensAreasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Json_GetAvailableAthensAreasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Json_GetAvailableDates">
        <s:complexType />
      </s:element>
      <s:element name="Json_GetAvailableDatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Json_GetAvailableDatesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableDates">
        <s:complexType />
      </s:element>
      <s:element name="GetAvailableDatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailableDatesResult" type="tns:ArrayOfAvailableDates" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAvailableDates">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AvailableDates" nillable="true" type="tns:AvailableDates" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AvailableDates">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="_ShortDateString" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPharmaciesOnDuty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Area" type="tns:AthensArea" />
            <s:element minOccurs="0" maxOccurs="1" name="Date" type="tns:AvailableDates" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPharmaciesOnDutyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPharmaciesOnDutyResult" type="tns:ArrayOfPharmacyOnDuty" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPharmacyOnDuty">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PharmacyOnDuty" nillable="true" type="tns:PharmacyOnDuty" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PharmacyOnDuty">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Pharmacist" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AthensArea" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OpeningHours" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AddressLongitute" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AddressLatitude" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAvailableAthensAreasSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailableAthensAreas" />
  </wsdl:message>
  <wsdl:message name="GetAvailableAthensAreasSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailableAthensAreasResponse" />
  </wsdl:message>
  <wsdl:message name="Json_GetAvailableAthensAreasSoapIn">
    <wsdl:part name="parameters" element="tns:Json_GetAvailableAthensAreas" />
  </wsdl:message>
  <wsdl:message name="Json_GetAvailableAthensAreasSoapOut">
    <wsdl:part name="parameters" element="tns:Json_GetAvailableAthensAreasResponse" />
  </wsdl:message>
  <wsdl:message name="Json_GetAvailableDatesSoapIn">
    <wsdl:part name="parameters" element="tns:Json_GetAvailableDates" />
  </wsdl:message>
  <wsdl:message name="Json_GetAvailableDatesSoapOut">
    <wsdl:part name="parameters" element="tns:Json_GetAvailableDatesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableDatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailableDates" />
  </wsdl:message>
  <wsdl:message name="GetAvailableDatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailableDatesResponse" />
  </wsdl:message>
  <wsdl:message name="GetPharmaciesOnDutySoapIn">
    <wsdl:part name="parameters" element="tns:GetPharmaciesOnDuty" />
  </wsdl:message>
  <wsdl:message name="GetPharmaciesOnDutySoapOut">
    <wsdl:part name="parameters" element="tns:GetPharmaciesOnDutyResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetAvailableAthensAreas">
      <wsdl:input message="tns:GetAvailableAthensAreasSoapIn" />
      <wsdl:output message="tns:GetAvailableAthensAreasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Json_GetAvailableAthensAreas">
      <wsdl:input message="tns:Json_GetAvailableAthensAreasSoapIn" />
      <wsdl:output message="tns:Json_GetAvailableAthensAreasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Json_GetAvailableDates">
      <wsdl:input message="tns:Json_GetAvailableDatesSoapIn" />
      <wsdl:output message="tns:Json_GetAvailableDatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableDates">
      <wsdl:input message="tns:GetAvailableDatesSoapIn" />
      <wsdl:output message="tns:GetAvailableDatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPharmaciesOnDuty">
      <wsdl:input message="tns:GetPharmaciesOnDutySoapIn" />
      <wsdl:output message="tns:GetPharmaciesOnDutySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableAthensAreas">
      <soap:operation soapAction="http://tempuri.org/GetAvailableAthensAreas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Json_GetAvailableAthensAreas">
      <soap:operation soapAction="http://tempuri.org/Json_GetAvailableAthensAreas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Json_GetAvailableDates">
      <soap:operation soapAction="http://tempuri.org/Json_GetAvailableDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableDates">
      <soap:operation soapAction="http://tempuri.org/GetAvailableDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPharmaciesOnDuty">
      <soap:operation soapAction="http://tempuri.org/GetPharmaciesOnDuty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableAthensAreas">
      <soap12:operation soapAction="http://tempuri.org/GetAvailableAthensAreas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Json_GetAvailableAthensAreas">
      <soap12:operation soapAction="http://tempuri.org/Json_GetAvailableAthensAreas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Json_GetAvailableDates">
      <soap12:operation soapAction="http://tempuri.org/Json_GetAvailableDates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableDates">
      <soap12:operation soapAction="http://tempuri.org/GetAvailableDates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPharmaciesOnDuty">
      <soap12:operation soapAction="http://tempuri.org/GetPharmaciesOnDuty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:1131/PharmaOnDuty.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:1131/PharmaOnDuty.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>